@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

:root {
  --color-primary-teal-100: #00A3A4;
  --color-primary-teal-200: #019393;
  --color-neutral-black: #000;
  --color-neutral-black-100: #1A1A1B;
  --color-neutral-gray: #F0EFEF;
  --color-neutral-white-100: #FFFEFE;
  --color-secondary-gray-30: #E1E1E1;
}

.person-info-form-person-info {
  font-family: 'ABeeZee', sans-serif;
  font-weight: 400;
  color: var(--color-neutral-black-100);
  max-inline-size: 25rem;
  margin-inline: auto;

  & * {
    box-sizing: border-box;
  }

  & .form-item {
    margin-block: 1.5rem;
  }

  & .form-actions {
    margin-block-start: 3.25rem;
  }

  & :is(
    input:not([type="checkbox"]),
    select,
    .select2-container
  ) {
    color: var(--color-neutral-black-100);
    inline-size: 100%;
    max-inline-size: 100%;
    background-color: var(--color-neutral-gray);
    height: unset;
    min-height: unset;
    font-size: 1rem;
    border-radius: 30px;
    border: 1px solid var(--color-neutral-black);

    &:focus-visible {
      outline: 3px solid var(--color-primary-teal-200);
      border-color: var(--color-neutral-black);
    }
  }

  & :is(
    input:not([type="checkbox"]),
  ) {
    padding: 1.25rem;
  }

  select {
    appearance: none;
    padding-block: 1.25rem;
    padding-inline: 1.25rem 3.25rem;
  }

  & :is(
    select,
    .select2-selection--multiple
  ) {
    background-position: right 0.375rem center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDEiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MSA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMjAuNSIgY3k9IjIwIiByPSIyMCIgZmlsbD0iIzAwQTNBNCIvPgo8cGF0aCBkPSJNMjQgMTguNUwyMCAyMi41TDE2IDE4LjUiIHN0cm9rZT0iI0ZGRkVGRSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K");

    &:hover {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDEiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MSA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMjAuNSIgY3k9IjIwIiByPSIyMCIgZmlsbD0iIzAxOTM5MyIvPgo8cGF0aCBkPSJNMjQgMTguNUwyMCAyMi41TDE2IDE4LjUiIHN0cm9rZT0iI0ZGRkVGRSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K");
    }
  }

  & input[type="checkbox"] {
    block-size: 1rem;
    inline-size: 1rem;
    vertical-align: middle;
    appearance: none;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 2px;
    border: none;
    border: 1px solid var(--color-primary-teal-100);
    margin: 0;

    &:checked {
      background-color: var(--color-primary-teal-100);
      background-size: auto;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDQuMDAwMzdMNC4xODE5OCA3LjE4MjM1TDEwLjU0NTYgMC44MTgzNTkiIHN0cm9rZT0iI0ZGRkVGRSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K");
    }

    &:hover,
    &:focus {
      border-width: 1px;
      border-color: var(--color-primary-teal-100);
    }

    &:hover,
    &:focus,
    &:focus-visible {
      outline: 2px solid var(--color-primary-teal-200);
      outline-offset: 1px;
    }

    & + label {
      display: inline;
      padding-inline-start: 0.375rem;
      vertical-align: middle;
    }
  }

  & input[type="submit"] {
    color: var(--color-neutral-white-100);
    background-color: var(--color-primary-teal-100);
    border: none;
    font-weight: 400;
    text-align: center;
    transition: all 0.2s ease;
    margin: 0;

    &:hover,
    &:focus-visible {
      background-color: var(--color-primary-teal-200);
      text-decoration: underline;
    }
  }

  & input::placeholder {
    color: var(--color-neutral-black-100);
    opacity: 50%;
  }

  & label {
    display: block;
    font-size: 0.875rem;
    font-weight: 400;
    margin-block-end: 0.375rem;
  }

  & .form-item__label.form-required::after {
    background-image: url("data:image/svg+xml,%3Csvg height='16' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0 7.562 1.114-3.438c2.565.906 4.43 1.688 5.59 2.35-.306-2.921-.467-4.93-.484-6.027h3.511c-.05 1.597-.234 3.6-.558 6.003 1.664-.838 3.566-1.613 5.714-2.325l1.113 3.437c-2.05.678-4.06 1.131-6.028 1.356.984.856 2.372 2.381 4.166 4.575l-2.906 2.059c-.935-1.274-2.041-3.009-3.316-5.206-1.194 2.275-2.244 4.013-3.147 5.206l-2.856-2.059c1.872-2.307 3.211-3.832 4.017-4.575-2.081-.402-4.058-.856-5.93-1.356' fill='%2300A3A4'/%3E%3C/svg%3E%0A");
  }
}

.person-info-form-person-info__header {
  text-align: center;
  color: var(--color-neutral-black-100);
}

.person-info-form-person-info__heading {
  margin-block: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
}

.person-info-form-person-info__subheading {
  margin-block: 0.625rem 2rem;
  font-size: 1rem;
  opacity: 0.8;
}
